/* Global */

:root {
	font-family: Arial, Helvetica, sans-serif;
}

body,
#site,
#header,
#content,
#header-left,
#header-right,
#header-button,
#modal,
#title,
#due,
#notes,
#add-new-buttons,
#add-new-form,
.task-div,
.task-title,
.task-due,
.task-notes,
.view-notes,
.edit-button {
	display: grid;
}

#header,
#content {
	width: 100%;
	height: 100%;
}

body {
	justify-content: center;
	min-height: 600px;
}

#site,
#overlay {
	width: 300px;
	height: 100%;
	grid-template-rows: 50px 1fr;
}

/* Header */

#header,
#header-button,
#modal {
	background-color: grey;
}

#header {
	grid-row-start: 1;
	color: white;
	font-size: 25px;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	font-weight: bold;
}

#header-left {
	grid-column-start: 1;
	margin-left: 15px;
}

#header-right {
	grid-column-start: 2;
	margin-right: 15px;
}

#header-button {
	justify-content: right;
	border: none;
	color: white;
	font-size: 40px;
}

/* Body */

#content {
	grid-row-start: 2;
	background-color: lightblue;
	align-content: start;
}

/* Task */

.task-div,
.view-notes,
.edit-button {
	background-color: white;
}

.task-div {
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 10px;
	padding: 15px;
	grid-template-columns: 1fr 1fr 30px;
	grid-template-rows: 1fr 1fr 0fr 5px;
	align-items: center;
	gap: 5px;
}

.task-title {
	grid-area: 1 / 1 / 2 / 3;
	justify-content: left;
	font-size: 16px;
}

.task-due {
	grid-area: 2 / 1 / 3 / 3;
	justify-content: left;
	font-size: 12px;
}

.task-notes {
	grid-area: 3 / 1 / 4 / 4;
	display: none;
	font-size: 12px;
}

.view-notes,
.edit-button {
	border: none;
	width: 20px;
	justify-self: center;
	font-size: 12px;
}

.edit-button {
	grid-area: 1 / 3 / 2 / 4;
}

.view-notes {
	grid-area: 4 / 1 / 5 / 4;
}

/* Modal */

#modal,
#overlay {
	display: none;
}

#overlay {
	position: fixed;
	top: 8px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

#modal {
	position: fixed;
	color: white;
	transform: translate(35px, 35px);
	z-index: 10;
	padding: 15px;
	border-radius: 10px 10px 10px 10px;
	width: 200px;
	height: 320px;
}

legend {
	text-align: center;
}

#add-new-form {
	border: none;
}

input,
select,
#submit-button,
#cancel-button {
	border: none;
	padding: 15px;
	border-radius: 10px;
	margin-top: 15px;
}

input {
	width: 170px;
}

#add-new-buttons {
	grid-template-columns: 1fr 1fr;
	justify-items: stretch;
	gap: 15px;
}

#submit-button {
	background-color: green;
	color: white;
}

#cancel-button {
	background-color: red;
	color: white;
}
